.quarto-title-block .quarto-title-banner {
  background-image: url(C:/Users/Andrew.Hood/OneDrive - Midlands and Lancashire CSU/Working Projects/1072 Dental Analysis/1072_dental_strategy/1_strategic_data_review/tsu_logo_black.png);
  background-size: 150px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 10px;
  background-origin: content-box;
}